.form__container {
  margin: 70px auto;
  width: 396px;
}

.form__logo-link {
  cursor: pointer;
  transition: opacity 0.5s;
}

.form__logo-link:hover {
  opacity: .7;
}

.form__title {
  margin: 40px 0 16px;
  font-size: 24px;
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__button-container {
  margin-top: 134px;
}

.form__error {
  margin: 0;
  text-align: center;
  color: #EE3465;
}

.form__button {
  margin-top: 25px;
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 3px;
  background-color: #4285F4;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: opacity 0.5s;
}

.form__button:hover {
  opacity: .8;
}

.form__button:disabled {
  background-color: rgba(66, 133, 244, .5);
  color: rgba(255, 255, 255, .5);
  cursor: not-allowed;
}

.form__button:disabled:hover {
  opacity: 1;
}

.form__subtext {
  margin: 16px 0 0;
  font-size: 14px;
  color: #8B8B8B;
  text-align: center;
}

.form__link {
  margin-left: 6px;
  text-decoration: none;
  color: #4285F4;
  transition: opacity 0.5s;
}

.form__link:hover {
  opacity: .7;
}

@media screen and (max-width: 1023px) {
  .form__button {
    margin-top: 212px;
  }

  .form__button-container_register {
    margin-top: 135px;
  }
}


@media screen and (max-width: 767px) {
  .form__container {
    margin: 56px auto;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form__title {
    margin: 50px 0 80px;
  }

  .form {
    width: 260px;
  }

  .form__button {
    margin-top: 304px;
    font-size: 12px;
  }

  .form__subtext {
    font-size: 12px;
  }

  .form__button-container_register {
    margin-top: 233px;
  }
}

