.not-found {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found__title {
  margin: 0;
  font-size: 140px;
  font-weight: 400;
}

.not-found__subtitle {
  margin: 5px 0 184px;
  font-size: 16px;
}

.not-found__button {
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #4285F4;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.not-found__button:hover {
  opacity: .7;
}

@media screen and (max-width: 767px) {
  .not-found {
    justify-content: flex-end;
  }

  .not-found__title {
    font-size: 80px;
  }

  .not-found__subtitle {
    font-size: 12px;
  }

  .not-found__button {
    margin-bottom: 30px;
    font-size: 12px;
  }
}
